body{
    margin-right: 200px; 
    margin-left: 200px;
    /* background-color: rgb(194, 219, 224); */
    font-family: 'Caveat', cursive;
}
    
.body0{
    height:4400px;  
}

.header{
    opacity: 0.8;
    height:50px;
    color:aliceblue;
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    /* left: 0; 左右の固定位置を左から0pxにする */
    /* display: flex; 中の要素を横並びにする */
    align-items: center; /* 中の要素を上下中央に並べる */
    width:862px;
    /* position: -webkit-sticky;*/
    position: sticky; 
    background-color: rgb(62, 123, 253);

    }

.body1{
    height:4400px;
}

.header1{
    opacity: 0.8;
    height:50px;
    color:aliceblue;
    /* position: fixed; ウィンドウを基準に画面に固定 */
    /* top: 5500px; 上下の固定位置を上から0pxにする */
    /* left: 0; 左右の固定位置を左から0pxにする */
    /* display: flex; 中の要素を横並びにする */
    align-items: center; /* 中の要素を上下中央に並べる */
    width:862px;
    position: -webkit-sticky;
    position: sticky; 
    top: 0;
    background-color: rgb(62, 123, 253);
}

.header h2{
    margin-top:100px;
}    



li {
    /* float:left; */
    margin-right:30px;
}



